<PageTitle>
  @GetLastSegment().Title - BodyRocky
</PageTitle>

<div class="container py-4 flex items-center gap-3">
  <NavLink href="@Routes.HOME_ROUTE" class="text-primary text-base">
    <i class="fa-solid fa-house"></i>
  </NavLink>
  @foreach(BreadcrumbSegment segment in Segments)
  {
    <span class="text-sm text-gray-400">
      <i class="fa-solid fa-chevron-right"></i>
    </span>
    @if (IsLastSegment(segment))
    {
      <p class="text-gray-600 font-medium">
        @segment.Title
      </p>
    }
    else
    {
      <NavLink href="@segment.Url" class="text-gray-600 font-medium hover:text-primary">
        @segment.Title
      </NavLink>
    }
  }
</div>

@code {
  
  public record BreadcrumbSegment(string Title, string Url);
  
  [Parameter, EditorRequired]
  public BreadcrumbSegment[] Segments { get; set; } = Array.Empty<BreadcrumbSegment>();
  
  private BreadcrumbSegment GetLastSegment()
    => Segments.Last();

  private bool IsLastSegment(BreadcrumbSegment segment)
    => segment == GetLastSegment();

}
