@using BodyRocky.Core.Contracts.Responses.CategoryResponses
@inherits FluxorComponent
@inject Routes Navigation
@inject IState<LayoutState> LayoutState
@inject IState<AuthState> AuthState

<nav class="bg-gray-800">
  <div class="container flex">
    <div class="px-8 py-4 bg-primary flex items-center cursor-pointer relative group">
      <span class="text-white">
        <i class="fa-solid fa-bars"></i>
      </span>
      <span class="ml-2 text-white">Toutes les catégories</span>

      <!-- dropdown -->
      <div
        class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
        @if (LayoutState?.Value.Categories != null)
        {
          foreach (CategoryResponse category in LayoutState.Value.Categories)
          {
            <NavLink
              href="@GetCategoryNavLink(category)"
              class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
              <i class="@category.CategoryIcon fa-fw text-primary"></i>
              <span class="ml-6 text-gray-600 text-sm">
                @category.CategoryName
              </span>
            </NavLink>
          }
        }
      </div>
    </div>

    <div class="flex items-center justify-between flex-grow pl-12">
      <div class="flex items-center space-x-6">
        <NavLink href="@Routes.HOME_ROUTE" class="text-gray-200 hover:text-white transition">
          Accueil
        </NavLink>
        <NavLink href="@Routes.SHOP_ROUTE" class="text-gray-200 hover:text-white transition">
          Boutique
        </NavLink>
        @* <NavLink href="@NavigationService.CONTACT_ROUTE" class="text-gray-200 hover:text-white transition"> *@
        @*   Contactez-nous *@
        @* </NavLink> *@
      </div>
      @if(AuthState?.Value.IsAuthenticated == false)
      {
        <NavLink href="@Routes.LOGIN_ROUTE" class="text-gray-200 hover:text-white transition">
          Connexion / Enregistrement
        </NavLink>
      }
    </div>
  </div>
</nav>

@code {
  
  private string GetCategoryNavLink(CategoryResponse? category)
  {
    return category is not null
      ? $"{Routes.SHOP_ROUTE}?categories={category.CategoryName}"
      : Routes.SHOP_ROUTE;
  } 

}